<!-- <article class="product">

    <section class="title_description">
        <h1>{{title}}</h1>
        <div class="horizontal_line"></div>
        <h2>{{description}}</h2>
    </section>

    <section class="portrait">
        <img src="{{productImageUrl}}{{photo}}" alt="{{title}}'s' portrait image">
    </section>

    <section class="price">
        <h1>{{price}}</h1>
    </section>



</article> -->



<article class="product">
    <section class="photo">
        <img src="{{productImageUrl}}{{photo}}" alt="">
    </section>

    <section class="info">
        <h1 class="title">{{title}}</h1>
    </section>
</article>