<article class="ticketCreate">
    <section class="title">
        <h1 class="yellow">CREAR ENTRADA</h1>
    </section>

    <section class="form">

        <form enctype="multipart/form-data" [formGroup]="createTicketForm">

            <app-select (change)="loadSeats($event,session.value)" formControlName="session" [valid]="session.valid|| session.pristine" label="Sesión"
                [options]="sessionOptions" />

            @if (session.value != "") {
                <app-select formControlName="seat" [valid]="seat.valid|| seat.pristine" label="Sillón"
                [options]="seatOptions" />
            }

            <app-select [valid]="user.valid|| user.pristine" label="Usuario" formControlName="user"
                [options]="userOptions" />

            <app-input [valid]="date.valid|| date.pristine" label="Fecha" inputType="date"
                inputPlaceholder="Inserte el precio" formControlName="date" />

            <app-button (click)="createTicket($event)" [valid]="createTicketForm.valid" buttonValue="Crear entrada" />

        </form>

    </section>
</article>