.littleScreens
    display: none
    
.bigScreens
    background: #051122
    display: flex
    justify-content: center
    width: 100%
    gap: 1rem
    position: sticky
    top: 0
    z-index: 2
    padding-bottom: 1rem

    .active
        border-bottom: solid white 1px

    a
        border: solid transparent 1px
        color: white
        padding: 1rem
        text-decoration: none
        transition: scale ease 0.33s, color ease 0.33s, border ease 0.33s
        font-size: 1.15rem
        &:hover
            scale: 110%
            color: #7f74a5

    .iconContainer
        aspect-ratio: 1/1
        display: flex
        width: 1.75rem
        transition: none
        &:hover
            scale: 100%
            

        img
            transition: scale ease 0.33s
            width: 100%

            &:hover
                scale: 110%


@keyframes linksOpening
    0%
        opacity: 0
        padding-block: 0rem
    100%
        padding-block: 2rem
        opacity: 1

@import 'variables'
@media (width < $lg)
    .bigScreens
        display: none
    .littleScreens
        z-index: 1
        background: #0a1c3a
        display: block
        position: sticky
        top: 0
        left: 0
        .navMenuButton
            width: 5rem
            overflow: hidden
            aspect-ratio: 1/1
            img
                width: 100%


        .links
            animation: linksOpening 1s
            display: grid
            padding: 1rem
            gap: 2rem
            block-size: auto
            block-size: calc-size(auto)
            padding-block: 2rem
            a
                font-size: 2rem
                img
                    width: 2rem

