<footer>

    <section class="logo">
        <img src="images/logotipo.png" alt="">
    </section>

    <section class="politics">
        <a href="">Política de Privacidad</a>
        <a href="">Política de Cookies</a>
    </section>

    <section class="socialNetworks">
        <a href="socialNetwork">
            <img src="images/redes_sociales/tiktok_logo.png" alt="">
        </a>
        <a href="socialNetwork">
            <img src="images/redes_sociales/facebook_logo.svg" alt="">
        </a>
        <a href="socialNetwork">
            <img src="images/redes_sociales/x_logo.svg" alt="">
        </a>
        <a href="socialNetwork">
            <img src="images/redes_sociales/youtube_logo.png" alt="">
        </a>
        <a href="socialNetwork">
            <img src="images/redes_sociales/instagram_logo.png" alt="">
        </a>
        <a href="socialNetwork">
            <img src="images/redes_sociales/linkedin_logo.png" alt="">
        </a>
    </section>


    <section class="copyright">
        <h3 class="text">© 2024 Metropolis. All rights reserved.</h3>
    </section>

</footer>
