<article class="roomEdit">
    <section class="title">
        <h1 class="yellow">EDITAR SALA</h1>
    </section>


    <section class="form">

        <form enctype="multipart/form-data" [formGroup]="editRoomForm">

            <app-input [valid]="name.valid|| name.pristine" label="Nombre" inputType="text"
                inputPlaceholder="Inserte el nombre" formControlName="name" />

            <app-input [valid]="rows.valid|| rows.pristine" label="Filas" inputType="number"
                inputPlaceholder="Inserte el número de filas" formControlName="rows" />

            <app-input [valid]="cols.valid|| cols.pristine" label="Columnas" inputType="number"
                inputPlaceholder="Inserte el número de columnas" formControlName="cols" />

            <app-button (click)="editRoom($event)" [valid]="editRoomForm.valid" buttonValue="Editar sala" />
            <app-button extraClass="delete" (click)="deleteRoom($event)"  buttonValue="Eliminar sala" />

        </form>

    </section>


    <article class="seats">
        <h2 class="yellow">SILLONES</h2>


        
        <app-room-graphics [seatingRows]="seatingRows" [seatingCols]="seatingCols" [seats]="seats"/>


        <!-- Color legend -->
        <section class="legend">

            <article class="typeseat">
                <div class="greenBox"></div>
                <h2>Sillón</h2>
            </article>

            <article class="typecorridor">
                <div class="blueBox"></div>
                <h2>Pasillo</h2>
            </article>

        </section>
    </article>

</article>