<article class="movieView">
    <section class="trailer">
        <iframe [src]="trailer| safe:'resourceUrl'" title="Movie trailer" frameborder="0" allowfullscreen
            referrerpolicy="no-referrer" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
    </section>

    <section class="info">


        <article class="portrait">
            <img src="{{portraitApi}}{{movie.portrait}}" alt="">
        </article>


        <article class="mainInfo">

            <section class="title">
                <h1>{{movie.title}}</h1>
            </section>

            <section class="directors">
                <h2>Director/es</h2>
                <p>{{movie.directors}}</p>
            </section>

            <section class="actor">
                <h2>Actores</h2>
                <p>{{movie.actors}}</p>
            </section>

            <section class="synopsis">
                <h2>Sinopsis</h2>
                <p>{{movie.synopsis}}</p>
            </section>


        </article>


        <article class="extraInfo">
            <section class="duration">
                <h2>Duración</h2>
                <p>{{movie.duration}} minutos</p>
            </section>

            <section class="releaseDate">
                <h2>Fecha de estreno</h2>
                <p>{{movie.releaseDate}}</p>
            </section>

            <section class="genres">
                <h2>Géneros</h2>
                <p>{{movie.genres}}</p>
            </section>

            <section class="pegi">
                <h2>Clasificación</h2>
                <p>{{movie.pegi}}</p>
            </section>
        </article>

    </section>

    <section class="movieSessions">
        @for (movieSession of movieSessions; track $index) {
        <app-movie-session hour="{{movieSession.time}}" room="{{movieSession.room?.name}}" />
        }

    </section>

</article>