<article class="roomCreate">
    <section class="title">
        <h1 class="yellow">CREAR SALA</h1>
    </section>


    <section class="form">

        <form enctype="multipart/form-data" [formGroup]="createRoomForm">

            <app-input [valid]="name.valid|| name.pristine" label="Nombre" inputType="text"
                inputPlaceholder="Inserte el nombre" formControlName="name" />

            <app-input [valid]="rows.valid|| rows.pristine" label="Filas" inputType="number"
                inputPlaceholder="Inserte el número de filas" formControlName="rows" />

            <app-input [valid]="cols.valid|| cols.pristine" label="Columnas" inputType="number"
                inputPlaceholder="Inserte el número de columnas" formControlName="cols" />

                <app-button (click)="createRoom($event)" [valid]="createRoomForm.valid"
                buttonValue="Crear sala" />

        </form>

    </section>
</article>
